body {
  margin: 0;
  font-family: Arial;
  background: #1e2a32;
  color: white;
}

.container {
  padding: 15px;
}

/* HEADER */
.header {
  background: #26343d;
  padding: 15px;
  text-align: center;
}

/* SERVER BOX */
.server-box {
  text-align: center;
  margin: 20px 0;
}

.connect {
  padding: 10px;
  background: #3b4f5a;
  border: none;
  border-radius: 8px;
  color: white;
}

/* STATUS */
.status {
  text-align: center;
  padding: 12px;
  border-radius: 8px;
  margin: 10px 0;
}

.offline {
  background: #e11d48;
}

/* BOOST */
.boost {
  background: #2563eb;
  padding: 15px;
  border-radius: 10px;
  margin: 15px 0;
}

.boost button {
  margin-top: 10px;
  padding: 8px;
  border: none;
  background: white;
  color: black;
  border-radius: 6px;
}

/* START BUTTON */
.start-btn {
  width: 100%;
  padding: 15px;
  background: #22c55e;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  margin: 10px 0;
}

/* CARD */
.card {
  background: #2c3e47;
  border-radius: 10px;
  margin-top: 15px;
  overflow: hidden;
}

.card-header {
  background: #1f2c34;
  padding: 10px;
  font-weight: bold;
}

.card-body {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy, .change {
  background: #22c55e;
  border: none;
  padding: 8px;
  border-radius: 6px;
  color: white;
}
