body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  height: 100vh;
  background: #020617;
  padding: 20px;
  position: fixed;
}

.sidebar a {
  display: block;
  margin: 15px 0;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #38bdf8;
  transform: translateX(6px);
}

/* MAIN */
.main {
  margin-left: 240px;
  padding: 20px;
  width: 100%;
}

/* PAGE */
.page {
  display: none;
  animation: slide 0.4s ease;
}

.page.active {
  display: block;
}

/* CARD */
.card {
  background: rgba(255,255,255,0.05);
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.02);
}

/* BUTTONS */
.btn {
  padding: 12px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.start { background: #22c55e; }
.stop { background: #ef4444; }
.restart { background: #f59e0b; }
.send { background: #3b82f6; }

.btn:hover {
  box-shadow: 0 0 10px white;
}

/* STATUS */
.status {
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.offline { background: red; }

/* BAR */
.bar {
  background: #1e293b;
  height: 10px;
  border-radius: 10px;
}

.fill {
  width: 60%;
  height: 100%;
  background: #3b82f6;
}

/* CONSOLE */
.console-box {
  background: black;
  height: 150px;
  padding: 10px;
  overflow-y: scroll;
}

/* ANIMATION */
@keyframes slide {
  from {opacity:0; transform: translateX(30px);}
  to {opacity:1; transform: translateX(0);}
}
